<div class="row">
  <div class="col-12">
    <form action="">
      <div class="row mb-3">
        <div class="col-3">
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Full Name"
            #nameInput
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="address" class="form-label">Address</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            id="address"
            class="form-control"
            placeholder="Address"
            #addressInput
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="phone" class="form-label">Phone Number</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            id="phone"
            class="form-control"
            placeholder="Phone"
            #phoneInput
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="position" class="form-label">Position</label>
        </div>
        <div class="col-9">
          <select name="" id="position" class="form-select" #positionInput>
            <option value="">Select</option>
            <option [value]="position.name" *ngFor="let position of positions">
              {{ position.name }}
            </option>
          </select>
          <!-- <input
            type="text"
            id="position"
            class="form-control"
            #positionInput
          /> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-end">
          <button
            class="btn btn-success me-1"
            type="button"
            (click)="onAddItem()"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
