<div class="row">
  <div class="col-12">
    <form action="">
      <div class="row mb-3">
        <div class="col-3">
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            [value]="selectedEmployee.name"
            id="name"
            class="form-control"
            #nameInput
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="address" class="form-label">Address</label>
        </div>
        <div class="col-9">
          <input
            [value]="selectedEmployee.address"
            type="text"
            id="address"
            class="form-control"
            #addressInput
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="phone" class="form-label">Phone Number</label>
        </div>
        <div class="col-9">
          <input
            [value]="selectedEmployee.phone"
            type="text"
            id="phone"
            class="form-control"
            #phoneInput
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="position" class="form-label">Position</label>
        </div>
        <div class="col-9">
          <select name="" id="position" class="form-select" #positionInput>
            <option value="">Select</option>
            <option
              *ngFor="let position of positions"
              [selected]="position.name === selectedEmployee.position"
              [value]="position.name"
            >
              {{ position.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-end">
          <button
            class="btn btn-success me-1"
            type="button"
            (click)="onUpdateItem()"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
